[Unit]
Description=Rust Dedicated Server
Wants=network-online.target
After=network-online.target

[Service]
Environment=SteamAppId=258550
Environment=LD_LIBRARY_PATH=/path/to/server:$LD_LIBRARY_PATH
Type=simple
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
User=server_admin
Group=server_admin
WorkingDirectory=/path/to/server
ExecStartPre=/usr/games/steamcmd +@sSteamCmdForcePlatformType linux +force_install_dir /path/to/server +login anonymous +app_update 258550 +quit
ExecStart=/path/to/server/RustDedicated -batchmode \
    +server.port 28015 \
    +server.queryport 28017 \
    +server.level "Procedural Map" \
    +server.seed 12345 \
    +server.worldsize 3000 \
    +server.maxplayers 300 \
    +server.hostname "SERVER_NAME" \
    +server.description "type some discription" \
    +rcon.port 28016 \
    +rcon.password "rcon_pass" \
    +rcon.web 1
    +ai.move "False"
[Install]
WantedBy=multi-user.target
