[Unit]
Description=Rust Dedicated Server
Wants=network-online.target
After=network-online.target

[Service]
Environment=SteamAppId=258550
Environment=LD_LIBRARY_PATH=/home/rustserver/server:$LD_LIBRARY_PATH
Type=simple
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
User=rustserver
Group=rustserver
WorkingDirectory=/home/rustserver/server
ExecStartPre=/usr/games/steamcmd +@sSteamCmdForcePlatformType linux +force_install_dir /home/rustserver/server +login anonymous +app_update 258550 +quit
ExecStart=/home/rustserver/server/RustDedicated -batchmode \
    +server.port 28015 \
    +server.queryport 28017 \
    +server.level "Procedural Map" \
    +server.seed 12345 \
    +server.worldsize 3000 \
    +server.maxplayers 300 \
    +server.hostname "BIGRUST|X50|ДЛЯ НОВИЧКОВ|BATTLEGROUND" \
    +server.description "Комфортный сервер для игры в Раст для новичков. Кастомные рейты на добычу и компоненты. Короткая ночь 5 минут. Стартовые киты. Телепортация домой и многое другое! Заходи, развивайся, побеждай" \
    +rcon.port 28016 \
    +rcon.password "jc_19LCx-R" \
    +rcon.web 1
    +ai.move "False"
[Install]
WantedBy=multi-user.target
